article {
    width: 100%;
    position: relative;
    font: 400 18px arial;
    line-height: 160%;
    padding: 0;
    color: #222;
    max-width: 700px;
}

.container{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

#section-2{
    padding: 10px;
    /*background: linear-gradient(135deg, rgba(244,245,247,1) 0%, rgba(219,230,250,1) 100%);*/
    background-image: url(./assets/paper.gif);
    border-radius: 10px;
}


.icon{
    height: 50px;
    margin-right: 10px;
    float: left;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}


button{
    border: 0;
    background-color: #D1DBFA;
    border-radius: 3px;
    padding: 0;
    margin-right: 5px;
    color: #123BB6;
    text-decoration: none;
    padding: 0px 8px;
    cursor: pointer;
}

button:hover{
    text-decoration: underline;
}

/*  */
.section-1{
    padding: 10px;
    border-radius: 10px;
}



#scrollToTop {
    position: fixed;
    z-index: 9999;

    background-color: rgba(97, 106, 137, 0.5); /* Set the background color */
    border: none; /* Remove the border */
    color: white; /* Set the text color */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    font-size: 13px; /* Set the font size */
    cursor: pointer; /* Change cursor on hover */
    border-radius: 50%; /* Set border-radius to 50% to make it round */
    width: 30px; /* Set the width and height */
    height: 30px;
    
    /* position: absolute; */
    bottom: 5px;
    right: 10px;
 }

 .half-circle {
    width: 50px;
    height: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: rgba(248,78,15, 0.5);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-25px) rotate(180deg);
    z-index: 9998;
  }
  
  .half-circle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    color: #fff;
    font-size: 16px;
  }
  

  .fade-copy {
  width: 100px;
  height: 50px;
  opacity: 0.8;
  background: black;
  color: white;
  border-radius: 5px;
  position: fixed;
  
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;

  z-index: 9999;
}

.animate {
    animation: fade-in-animation 1s forwards, fade-out-animation 1s forwards 1s;
}

@keyframes fade-in-animation {
  from { top: 0; }
  to { top: 50px; }
}

@keyframes fade-out-animation {
  from { opacity: 0.8; }
  to { opacity: 0; }
}