*{
  box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

#theLeft{
    border-radius: 10px;
    border: 1px solid black;
    width: 100%;
    height: 600px;
    position: relative;
}

/* .bing-icon{
    height: 50px;
    margin-right: 10px;
    float: left;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
} */

button{
    border: 0;
    background-color: #D1DBFA;
    border-radius: 3px;
    padding: 0;
    margin: 5px;
    color: #1A3561;
    text-decoration: none;
    padding: 0px 8px;
    cursor: pointer;
    font-size: large;
    font-family: sans-serif;
    font-weight: 600;
}

button:hover{
    text-decoration: underline;
}

/*Highlight previous selected words*/
.highlight-blue{
  background-color: #1B4AEF;
  color: white;
}
/*Highlight current selected word*/
.highlight-yellow{
  background-color: #FFFF00;
  color: black;
  border: 1px solid #1B4AEF;
  text-decoration: none;
}

em{
  font-size: 15px;
  font-weight: 400;
}
/* mark{
  background-color: #FF9632;
} */

/*  */
.theTop{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: burlywood;
}

#scrollToTop {
    position: fixed;
    z-index: 9999;
    background-color: rgba(97, 106, 137, 0.5); /* Set the background color */
    border: none; /* Remove the border */
    color: white; /* Set the text color */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    font-size: 13px; /* Set the font size */
    cursor: pointer; /* Change cursor on hover */
    border-radius: 50%; /* Set border-radius to 50% to make it round */
    width: 30px; /* Set the width and height */
    height: 30px;
    
    /* position: absolute; */
    bottom: 5px;
    right: 10px;
 }

 .top-icon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 40px;
    z-index: 9998;
    box-shadow: 0 8px 8px -4px black;
    border-radius: 10px;
    background-image: url('./assets/top-mid-background.png');
    background-size: contain;
    /* transform: rotate(180deg); */
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
 }

  .half-circle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
  }

  /* .fade-drop {
  width: 100px;
  height: 50px;
  opacity: 0.8;
  background: black;
  color: white;
  border-radius: 5px;
  position: fixed;
  
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;

  z-index: 9999;
} */

/* .animate {
    animation: fade-in-animation 1s forwards, fade-out-animation 1s forwards 1s;
} */

/* #speak-icon{
  width: 30px;
  height: auto;
  position: absolute;
  top: 5px;
  right: 20px;
  cursor: pointer;
} */

#myIframe1,
#myIframe2,
#myIframe3,
#myIframe4{
  width: 100%;
  height: 600px;
  border: 1px solid black;
  border-radius: 10px;
}

.wrapper {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.theButtom{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
/*   grid-auto-rows: minmax(100px, auto); */
  gap: 10px;
}

.theRight{
  width: 100%;
  position: relative;
}
#switchWebsite{
  position: absolute;
  left: 10px;
  top: 10px;
}
#switchWebsite2{
  position: absolute;
  right: 10px;
  top: 10px;
}
/* @keyframes fade-in-animation {
  from { top: 0; }
  to { top: 50px; }
}

@keyframes fade-out-animation {
  from { opacity: 0.8; }
  to { opacity: 0; }
} */